.horizontal-container {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    gap: 60px;
}

.horizontal-container > div {
    flex: 1;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

span.accent {
    color: var(--accent) !important;
    padding-right: 10px;
}

@media screen and (max-width: 800px) {
    .horizontal-container {
        flex-direction: column;
        align-items: center;
    }

    .vertical-container {
        align-items: center;
    }

    .vertical-container p.description {
        text-align: center;
    }
}

@media print {
    .horizontal-container {
        flex-direction: column;
        align-items: center;
    }

    .vertical-container {
        align-items: center;
    }

    .vertical-container p.description {
        text-align: center;
    }
}
