.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gallery-container img {
    width: 100%;
    border-radius: 16px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.main-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container img {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.main-container button {
    position: absolute;
}
.main-container button.left {
    left: -25px;
}
.main-container button.right {
    right: -25px;
}

.thumbnails-container {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 10px 15px 25px 15px;
}

.thumbnails-container button{
    max-width: 140px;
    width: 100%;
    border-radius: 8px;
    opacity: 0.6;
    transition: all 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.thumbnails-container button:hover {
    opacity: 0.8;
}

.thumbnails-container button.active {
    opacity: 1;
}
