.language-selector {
    position: relative;
}

.language-selector button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    cursor: pointer;
    outline: none;
    color: var(--blue-1) !important;
    transition: all ease 125ms;
}

.language-selector button.dropdown-toggle {
    border-radius: 6px;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
}
.language-selector button.dropdown-toggle:hover,
.language-selector button.dropdown-toggle:focus {
    border-color: var(--accent) !important;
}

.language-selector .dropdown-arrow {
    transition: transform 0.3s ease;
}
.language-selector .dropdown-arrow.open {
    transform: rotate(180deg);
}

.language-selector .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style: none;
    border-radius: 6px;
    overflow: hidden;
    background: var(--background) !important;
    border: 1px solid var(--style-1) !important;
}
.language-selector .dropdown-menu button:hover,
.language-selector .dropdown-menu button:focus {
    background-color: var(--style-1) !important;
}

.language-selector .svg-img {
    display: block;
    width: 24px;
    height: 16px;
    border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
    .badges-container .badge {
        background-color: var(--blue-2) !important;
    }
}
