.progress-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    column-gap: 50px;
    row-gap: 25px;
}
.progress {
    display: grid;
    grid-template-columns: 20px 1fr 50px;
    grid-template-rows: 30px 30px;
    grid-template-areas:
        'icon name .'
        'progress progress value';
    column-gap: 8px;
}

.progress > img {
    grid-area: icon;
    display: flex;
    align-self: center;
    width: 20px;
    height: 20px;
}

.progress > h3 {
    grid-area: name;
}

.progress > progress {
    grid-area: progress;
    display: flex;
    align-self: center;
    height: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 100px;
    background-color: var(--style-1);
}

.progress > progress::-webkit-progress-bar {
    border-radius: 100px;
    background-color: var(--style-1);
}

.progress > progress::-webkit-progress-value {
    border-radius: 100px;
    background-color: var(--accent);
}

.progress > progress::-moz-progress-bar {
    border-radius: 100px;
    background-color: var(--accent);
}

.progress > p {
    grid-area: value;
}

@media print {
    .progress > progress {
        print-color-adjust: exact;
    }
}
