footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 66px 30px 30px;
    background-color: var(--footer);
    border-top: 1px solid var(--style-1);
    gap: 30px;
}

footer .socials {
    display: flex;
    gap: 20px;
}

.socials a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border-color: var(--blue-3) !important;
    background-color: transparent;
    aspect-ratio: 1/1;
    padding: 12px;
}
.socials a.button:hover {
    border-color: var(--accent) !important;
}

.socials a.button span.svg-icon {
    background-color: var(--blue-3);
    transition: all ease 125ms;
    width: 48px;
    height: 48px;
}
.socials a.button:hover span.svg-icon {
    background-color: var(--accent);
}

@media print {
    footer {
        display: none;
    }
}
